@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');

body {
    background: #535c61;
    background: #4c4c4c;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }

  .button {
    background-color: #911736;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
.container{
    max-width: 90%;
}
/* INDEX*/
.index_parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr) ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.index_div1 { grid-area: 2 / 2 / 4 / 12; }
.index_div2 { grid-area: 4 / 2 / 6 / 7; }
.index_div3 { grid-area: 4 / 7 / 6 / 12; }
.index_div4 { grid-area: 1 / 1 / 2 / 5; }

/*WAITING ROOM*/

.waiting_parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.5fr repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.waiting_div1 { grid-area: 2 / 2 / 3 / 12; }
.waiting_div2 { grid-area: 3 / 2 / 6 / 7; }
.waiting_div3 { grid-area: 3 / 7 / 6 / 12; }
.waiting_div4 { grid-area: 1 / 1 / 2 / 5; }
.waiting_div5 { grid-area: 2 / 2 / 3 / 7; }
.waiting_div6 { grid-area: 2 / 7 / 3 / 12; }
.waiting_div7 { grid-area: 6 / 2 / 7 / 12; }

/* CARDS*/

.card-box {
    height: 300px;
    width: 90%;
    top: 60px;
    left: calc(50% - 300px);
    /* display: flex; */
}

.card {
    /* display: flex; */
    height: 75%;
    /* width: 200px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.unplayable {
    filter: brightness(50%);
}

.playable {
    filter: brightness(100%);
    border-radius: 20px;
    box-shadow: -0.25rem -0.25rem 1rem 0.25rem white;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    transform: translateY(-20px);
}
.card:not(:first-child) {
    margin-left: -50px;
}

.playable:hover {
    /* transform: translateY(-20px);
    transition: 0.4s ease-out; */
    cursor: pointer;
}

/* .playable:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
} */


.card_game_parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 0px;
    padding-top: 20px;
}

    /* Autres joueurs */
.marker-card{
width: 10%;
/* margin-left: -50px; */
}

.div1 { grid-area: 1 / 1 / 6 / 10; }
.div2 { grid-area: 1 / 10 / 6 / 13; padding-left: 10px;     border-left: solid;}
.div3 { grid-area: 3 / 1 / 6 / 10;     margin-top: 100px;padding-left: 50px;}
.div4 { grid-area: 1 / 1 / 3 / 10; }
.div5 { grid-area: 1 / 4 / 3 / 6; }
.div6 { grid-area: 1 / 6 / 3 / 8; }
.div7 { grid-area: 1 / 1 / 3 / 4; padding: 8%;}

/* .div1 { grid-area: 1 / 1 / 7 / 13; }
.div2 { grid-area: 1 / 11 / 7 / 13;  padding-left: 50px;}
.div3 { grid-area: 3 / 2 / 6 / 10;  margin-top: 100px;padding-left: 50px;}
.div4 { grid-area: 1 / 4 / 3 / 6; }
.div5 { grid-area: 1 / 6 / 3 / 8; }
.div6 { grid-area: 6 / 4 / 7 / 8; }
.div7 { grid-area: 6 / 5 / 7 / 7; } */


#card-piles{
    cursor: pointer;
}

.player-info{padding-left: 10px;
padding-right: 10px;}

button:hover{
    top:0px;
    left:0px;
    filter:none; 
}